* {
  box-sizing: border-box;
}

html,body,.wrapper {
  height: 100%;
}

a,a:visited,a:hover,a:active {
  color: inherit;
  text-decoration: none;
}


// サイドバー

.side-bar {
  height: 100%;
  width: 300px;
  background-color: $bg-sidebar;
  font: bold 16px Arial;
  color: #fff;
}

.user-info {
  height: 100px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  &__list {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    width: 60px;
    display: flex;
    justify-content: flex-end;
  }
  &__icon {
    margin-left: 5px;
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: $bg-groups;
}

.group {
  padding: 20px 20px 40px 20px;
  &__name {
    font: normal 15px Arial;
  }
  &__last_message {
    margin-top: 5px;
    font: normal 11px Arial;
  }
}

// メイン
.main-chat {
  width: calc(100vw - 300px);
}

.current-group {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  &__info {
    margin-top: 35px;
  }
  &__name {
    font-size: 20px;
    color: #333;
  }
  &__member-list {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: #999;
  }
  &__member {
    margin-right: 5px;
  }
  &__edit-btn {
    margin-top: 28px;
    height: 40px;
    width: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: solid 1px #38aef0;
  }
  a {
    color: #38aef0;
  }
}

.messages {
  height: calc(100vh - 190px);
  padding-left: 40px;
  padding-top: 35px;
  background-color: $bg-messages;
  border-top: solid 1px #eee;
  overflow: scroll;
}

.message {
  margin-bottom: 46px;
  &__info {
    display: flex;
  }
  &__user-name {
    font-weight: bold;
    color: #333;
  }
  &__created-at {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
  }
  &__body {
    margin-top: 12px;
    font-size: 14px;
    color: #434a54;
  }
}

.form {
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: $bg-form;
  padding: 20px 40px;
  &__fields {
    flex-grow: 1;
    position: relative;
  }
  &__content {
    height: 50px;
    width: 100%;
    padding: 0 10px;
  }
  &__image-label {
    position: absolute;
    // 上から50%の位置に配置
    top: 50%;
    // 地震の高さの50%分、上に移動
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); /* Safari用 */
    right: 10px;
    &__i {
      font-size: 25px;
    }
    &__file {
      display: none;
    }
    .send-btn {
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: #fff;
    }
  }
}
